@model Model.Cooperative.OfflineMember

@{
    ViewData["Title"] = "Edit";
}

<style>
    /* Custom CSS styles for the offline member details section */
    .cooperative-details {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
    }

        .cooperative-details h2 {
            color: #007bff;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .cooperative-details label {
            font-weight: bold;
        }

        .cooperative-details .form-control {
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 8px;
        }

        .cooperative-details .card {
            border: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .cooperative-details .card-body {
            padding: 20px;
        }

        .cooperative-details .card-footer {
            background-color: #f8f9fa;
            border-top: none;
            text-align: center;
        }
</style>


 <h4>@Model.MembreId</h4>

<hr />

<article class="container cooperative-details">
    <form asp-controller="OfflineMember" asp-action="Edit" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Edit Details</h2>
                        <div class="form-group">
                            <label asp-for="@Model.Person.FirstName">First Name:</label>
                            <input asp-for="@Model.Person.FirstName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Person.LastName">Last Name:</label>
                            <input asp-for="@Model.Person.LastName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Person.IdNumber">ID Number:</label>
                            <input asp-for="@Model.Person.IdNumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Person.City">City:</label>
                            <input asp-for="@Model.Person.City" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Person.Country">Country:</label>
                            <input asp-for="@Model.Person.Country" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Person.PhoneNumber">PhoneNumber:</label>
                            <input asp-for="@Model.Person.PhoneNumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.FeesPerYear">Last Name:</label>
                            <input asp-for="@Model.FeesPerYear" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="@Model.Person.PersonImageUrl">Person Image:</label>
                            <div class="image-fluid">
                                @if (!string.IsNullOrEmpty(@Model.Person.PersonImageUrl))
                                {
                                    <img src="@Model.Person.PersonImageUrl" class="card-img-top img-fluid" alt="person picture" style="height: 200px; width: 100%;">
                                }
                                else
                                {
                                    <img src="https://via.placeholder.com/200x200.png?text=No+Image" class="card-img-top img-fluid" alt="No image" style="height: 200px; width: 100%;">
                                }
                            </div>
                            <input asp-for="@Model.Person.PersonImageUrl" class="form-control mt-2" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
                        <a href="#" class="btn btn-secondary btn-lg" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

