@model Web.Cooperation.Models.ViewModel.ProjectBoard

@{
    ViewData["Title"] = Html.DisplayNameFor(model => model.Project.Name);

}

<h1>

    @Html.DisplayFor(model => model.Project.Name)

</h1>
<h4>Project</h4>
<style>
    .label {
        
        text-align: right;
        clear: both;
        float: left;
        margin-right: 15px;
    }
    .btn-circle.btn-xl {
        width: 170px;
        height: 170px;
        padding: 10px 16px;
        border-radius: 135px;
        font-size: 24px;
        line-height: 1.33;
    }
    .sameWidthButton {
        min-width: 200px;
        display: inline-block;
    }
</style>
<div class="text-right">
    <a class="btn btn-outline-dark pull-right" asp-controller="People" asp-action="CreateForEmployee" asp-route-id=@ViewBag.ProjectId>Add Employee</a>

</div>
<div>
    <hr />
    
    

</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-outline-dark pull-right sameWidthButton" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> Management</button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="container">
                    <div class="row bg-gradient-light">
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" src="~/favicon.ico" alt="Card image" style="width:150px">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(model => model.Manager.FullName)</h5>
                                    <div class="card-text">
                                        <dl >
                                            <dt class="label">
                                                @Html.DisplayNameFor(model => model.Project.Efficiency)
                                            </dt>
                                            <dd class="text-right">
                                                @Html.DisplayFor(model => model.Project.Efficiency)
                                            </dd>
                                            <dt class="label">
                                                @Html.DisplayNameFor(model => model.Project.DurationInMonth)
                                            </dt>
                                            <dd class="text-right">
                                                @Html.DisplayFor(model => model.Project.DurationInMonth)
                                            </dd>
                                            <dt class="label">
                                                @Html.DisplayNameFor(model => model.Project.ProjectBudget)
                                            </dt>
                                            <dd class="text-right">
                                                @Html.DisplayFor(model => model.Project.ProjectBudget)
                                            </dd>
                                            <dt class="label">
                                                @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Manager.ExpenseBudget)
                                            </dt>
                                            <dd class="text-right">
                                                @Html.DisplayFor(model => model.Employees.FirstOrDefault().Manager.ExpenseBudget)
                                            </dd>
                                            <dt class="label">
                                                @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Manager.AfterStepBudget)
                                            </dt>
                                            <dd class="text-right">
                                                @Html.DisplayFor(model => model.Employees.FirstOrDefault().Manager.AfterStepBudget)
                                            </dd>
                                        </dl>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm ">
                            <button type="button" class="btn btn-outline-dark pull-right  btn-circle btn-xl">
                                <i class="fa fa-link">simulation</i>
                            </button>
                            <button type="button" class="btn btn-dark btn-outline-light pull-right btn-circle btn-xl " style="border: 2px solid #000000">
                                <i class="fa fa-check">projection</i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-outline-dark pull-right sameWidthButton" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    @Html.DisplayNameFor(model => model.Employees)
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="card-deck">
                    @foreach (var employee in Model.Employees)
                    {
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Salary: @employee.Salary</p>
                                <a href="@Url.Action("Details", "StepProjects", new { id = employee.EmployeeId })" class="btn btn-outline-dark pull-right">Details</a>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>

    </div>
</div>

<div >
    <button class="btn btn-outline-dark pull-right" href="##" onClick="history.go(-1); return false;">Back to List</button>

    @*<a asp-action="Edit" asp-route-id="@Model.Project.ProjectId">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
</div>


