@model Web.Cooperation.Models.ViewModel.ProjectBoard


@{
    // Check if the current mode is dark
    var isDarkMode = false; // Replace with your own logic to check if the current mode is dark
    var backgroundColor = isDarkMode ? "#555e52" : "#f0eae5";
}
<div id="myDiv" style="background-color: @backgroundColor;">


    @{
        ViewData["Title"] = Html.DisplayNameFor(model => model.Project.Name);


    }

</div>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="~/css/sickstylesheet.css" rel="stylesheet" />
  <style>
        .employee-card {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .employee-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
     

        .step-projects {
            margin-top: 10px;
        }

        .step-project {
            background-color: #ffffff;
            border: 1px solid #e4e4e4;
            margin-bottom: 10px;
            padding: 10px;
        }

        .step-project-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .step-project-name {
            font-weight: bold;
            text-decoration: none;
            color: #333333;
        }

        .step-project-details {
            display: flex;
            align-items: center;
        }

            .step-project-details span {
                margin-left: 10px;
            }

        .step-project-body {
            margin-top: 10px;
        }

        .step-project-description {
            margin-top: 0;
        }

        /* Search bar */
        #employee-search {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* Filter buttons */
        .filter-buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

            .filter-buttons button {
                margin: 0 5px;
                padding: 5px 10px;
                border-radius: 4px;
                border: 1px solid #cccccc;
                background-color: #f7f7f7;
                color: #333333;
                cursor: pointer;
            }
        html {
            scroll-behavior: smooth;
        }

        /* Optional: add a smooth transition to all links */
        a {
            transition: all 0.3s ease-in-out;
        }
  </style>
</head>

<div class="container">
    <h1>
      
        <button type="button" onclick="toggleDarkMode()" class="prompter-text sunburst btn-circle">
            @Html.DisplayFor(model => model.Project.Name)
        </button>
    </h1>
    <div class="text-container">
        <h3 class="titleCaligraphy">@ViewBag.Projection</h3>
    </div>
</div>

a
<div class="text-right">
    <a class="btn btn-outline-dark stepProject-add-btn" style="background-color: #a9a9a9"
       asp-controller="Employees" asp-action="Create" asp-route-projectId="@ViewBag.ProjectId"
       asp-route-managerId="@ViewBag.ManagerId">
        Add task...
    </a>
    <span class="glyphicon glyphicon-flash text-white glyphicon-lg"></span>
</div>

<div class="modal fade" id="stepProject-add-modal" tabindex="-1" role="dialog" aria-labelledby="stepProject-add-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stepProject-add-title-modal-label">Add a stepProject </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="stepProject-add"></div>
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <button class="card-header btn-outline-dark" id="headingOneEmp" data-toggle="collapse" data-target="#collapseOneEmp" aria-expanded="false" aria-controls="collapseOneEmp">
            <div class="row display-4">
                <div class="col-md-6">
                    <p class="btn text sameWidthButton"><h5>Management</h5> </p>
                </div>
                <div class="col-md-6">
                    <p class="text-right pull-right">
                        @Html.DisplayNameFor(model => model.TotalStepsBudget)
                        <b>@Html.DisplayFor(model => model.TotalStepsBudget)</b>
                    </p>
                </div>
            </div>
        </button>
        <div id="collapseOneEmp" class="collapse show" aria-labelledby="headingOneEmp" data-parent="#accordion">
            <div class="card-body table-responsive">
                <div class="card-container grid-container">
                    <div class="row bg-gradient-light">
                        <div class="col-md-8">
                            <div class="card">

                                <div class="project-card">
                                    <div class="card-title col-md-4">@Html.DisplayFor(model => model.Manager.FullName)</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="card-img-top img-fluid rounded-circle" src="~/favicon.ico" alt="Card image">
                                            </div>
                                            <div class="col-md-8">
                                                <dl class="dl-horizontal">
                                                    <dt class="label">@Html.DisplayNameFor(model => model.Project.Efficiency)</dt>
                                                    <dd class="text-right"><b>@Html.DisplayFor(model => model.Project.Efficiency)</b></dd>
                                                    <dt class="label">@Html.DisplayNameFor(model => model.Project.DurationInMonth)</dt>
                                                    <dd class="text-right"><b>@Html.DisplayFor(model => model.Project.DurationInMonth)</b></dd>
                                                    <dt class="label">@Html.DisplayNameFor(model => model.Project.ProjectBudget)</dt>
                                                    <dd class="text-right"><b>@Html.DisplayFor(model => model.Project.ProjectBudget)</b></dd>
                                                    <dt class="label">@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Manager.ExpenseBudget)</dt>
                                                    <dd class="text-right"><b>@Html.DisplayFor(model => model.Employees.FirstOrDefault().Manager.ExpenseBudget)</b></dd>
                                                    <dt class="label">@Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Manager.AfterStepBudget)</dt>
                                                    <dd class="text-right"><b>@Html.DisplayFor(model => model.Employees.FirstOrDefault().Manager.AfterStepBudget)</b></dd>
                                                </dl>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div class="card-body btn-outline-light project-card card-employee">
                                    <button type="button" class="btn-outline-light pull-right">
                                        <p class="fa fa-link">
                                            <i>@ViewBag.GeneratedProduction €</i>
                                        </p>
                                    </button>
                                    <button type="button" class="btn-outline-dark pull-right" style="border: 2px solid">
                                        <p class="fa fa-link">
                                            <i class="fa fa-check">@ViewBag.numberOfMonth months</i>
                                        </p>
                                    </button>
                                    <div class="mt-3">
                                        <form method="post" id="simulationForm">
                                            <div class="form-group">
                                                <label for="goalToReach">Goal to Reach:</label>
                                                <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />

                                                <input type="text" class="form-control" id="goalToReach" name="goalToReach">
                                            </div>
                                            <button type="submit" class="btn btn-outline-dark ">Submit</button>
                                        </form>
                                        <div class="mt-6">
                                            <p id="simulationPeriod"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <button class="card-header btn-outline-dark" id="headingEmployee" data-toggle="collapse" data-target="#collapseTwoEmp" aria-expanded="true" aria-controls="collapseTwoEmp">
            <div class="row display-4">
                <div class="col-md-6">
                    <p class="btn pull-right sameWidthButton">
                        <h5>@Html.DisplayNameFor(model => model.Steps)</h5>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-right pull-right">
                        @Html.DisplayNameFor(model => model.EmployeesSalary)
                        @Html.DisplayFor(model => model.EmployeesSalary)
                    </p>
                </div>
            </div>
        </button>
        <div id="collapseTwoEmp" class="collapse" aria-labelledby="headingEmployee" data-parent="#accordion">
            <div class="card-container grid-container">
                <div class="row">
                    <div class="col-lg-12 col-md-10 col-sm-8">
                        <div>
                            <div>
                                <input type="text" id="employee-search" placeholder="Search employees...">
                                <div class="container">
                                    <div class="row employee-cards">
                                        @foreach (var employee in Model.Employees)
                                        {
                                            <div class="col-lg-6 col-md-8 col-sm-12 employee-card">

                                                @if (employee.Steps.Any())
                                                {
                                                    <div class="step-projects">

                                                        @foreach (var step in employee.Steps)
                                                        {
                                                            <div class="step-project">
                                                                <div class="step-project-header">
                                                                    <a href="@Url.Action("Details", "StepProjects", new { id = step.StepProjectId, projectName = Model.Project.Name})" class="step-project-name stepProject-btn btn btn-outline-dark" data-toggle="popover" data-container="body" data-placement="auto" data-content="Loading...">@step.Description</a>


                                                                </div>
                                                                <div class="step-project-body">

                                                                    <p class="step-project-review-date">
                                                                        <strong>Review Date:</strong> @step.ReviewDate
                                                                        <div class="step-project-details">
                                                                            <span class="step-project-start-date"><strong>Start Date:</strong> @step.StartingDate</span>

                                                                        </div>
                                                                        <span class="step-project-budget"><strong>Budget:</strong> @step.StepBudget</span>
                                                                    </p>
                                                                </div>
                                                                <div class="employee-name text-responsive text-right">@employee.Person.FirstName, @employee.Person.LastName </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p>No step projects found for this employee.</p>
                                                }
                                            </div>
                                            <div class="modal fade" id="stepProject-details-modal" tabindex="-1" role="dialog" aria-labelledby="stepProject-details-modal-label" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="stepProject-modal-label">stepProject details</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div id="stepProject-details"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<!-- Include Bootstrap JavaScript files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    //$(function () {
    //    // Define the text to be typed
    //    var typedText = new Typed('#typed-text', {
    //        strings: ["...."],
    //        typeSpeed: 20,
    //        backSpeed: 7,
    //        loop: true
    //    });
    //});
    //document.querySelector('.prompter-text p').textContent = 'New Breaking News: This is an example of scrolling text.';

</script>

@section scripts {

    <script>
        $(document).ready(function () {
            // Hide the "more" text by default
            $(".card-text-more").hide();

            // Show more text when the "Show More" button is clicked
            $(".show-more").on("click", function () {
                $(this).parents(".card-text-wrapper").find(".card-text-more").slideToggle();
                $(this).find("p").text(function (i, text) {
                    return text === "Show More" ? "Show Less" : "Show More";
                });
            });
        });

        
        //function toggleDarkMode() {
        //    // Get the body and card elements
        //    var body = document.getElementsByTagName("body")[0];
        //    var card = document.getElementsByClassName("card")[0];
        //    var cardEmployee = document.getElementsByClassName("card-employee")[0];
        //    var cardBody = document.getElementsByClassName("card-body")[0];
        //    var cardText = document.getElementsByClassName("card-text-wrapper")[0];

        //    // Toggle the dark-mode class on both the body and card elements
        //    body.classList.toggle("dark-mode");
        //    card.classList.toggle("dark-mode");
        //    cardEmployee.classList.toggle("dark-mode");
        //    cardBody.classList.toggle("dark-mode");
        //    cardText.classList.toggle("dark-mode");
        //}
        $(function () {
            $('#simulationForm').submit(function (event) {
                event.preventDefault(); // Prevent the form from being submitted

                var formData = $(this).serialize(); // Serialize the form data

                // Submit the form data using AJAX
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSimulation")',
                    data: formData,
                    success: function (result) {
                        // Handle the response

                        console.log(result);
                        $("#simulationPeriod").text(result.sentence);
                    },
                    error: function (xhr, status, error) {
                        // Handle errors
                        console.log(xhr.responseText);
                    }
                });
            });
        });
        $(function () {
            $('#employee-search').keyup(function () {
                var searchValue = $(this).val().toLowerCase();
                $('.employee-card').each(function () {
                    var employeeName = $(this).find('.employee-name').text().toLowerCase();
                    if (employeeName.indexOf(searchValue) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
        $('#stepProject-details-modal').on('hidden.bs.modal', function (e) {
            location.reload();
        });
        $(function () {
            $('.stepProject-btn').on('click', function (event) {
                event.preventDefault(); // prevent default behavior of the link
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('#stepProject-details').html(data); // display the project details in the div
                    $('#stepProject-details-modal').modal('show'); // display the modal
                });
            });
        });
        $(function () {
            $('.stepProject-add-btn').on('click', function (event) {
                event.preventDefault(); // prevent default behavior of the link
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('#stepProject-add').html(data); // display the project details in the div
                    $('#stepProject-add-modal').modal('show'); // display the modal
                });
            });
        });

     
        

    </script>
}

