@model Model.Cooperative.CoopManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoopManager</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectBudget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectBudget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseBudget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseBudget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterStepBudget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterStepBudget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ManagerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
